body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 400px;
  padding: 10px;
  margin: auto;
  border-radius: 10px;
  border: 2px solid black;
}

.page-title {
  color: black;
  margin: auto;
  font-size: 30px;
}

input {
  margin: 5px;
  padding: 5px;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf55;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  transform: scale(1.05);
  opacity: 0.8;
}

.others {
  margin-right: 30px;
}

.others button {
  padding: 5px;
  margin: 5px;
  border: 1px solid black;
  border-radius: 7px;
  font-size: 16px;
  cursor: pointer;
  background-color: #555;
}

.others button a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}